body {
  color: rgba(0, 0, 0, 0.870588);
  background-color: #F2F2F2;
}

body, input {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased; /* OS X subpixel AA bleed bug */
}

div[masthead] {
  line-height: 56px;
  color: #FFFFFF;
  background-color: #4285F4;
}

[masthead] [name] {
  padding-left: 16px;
  font-size: 24px;
}

[content] {
  position: absolute;
  top: 56px;
  left: 0;
  bottom: 0;
  right: 0;
}

[button] {
  line-height: 40px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none !important;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
