<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title><%= web.name %></title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" type="text/css" href="/global.css">
        <link rel="stylesheet" type="text/css" href="/layout.css">
        <link rel="stylesheet" type="text/css" href="/shadow.css">
        <link rel="stylesheet" type="text/css" href="/index.css">
    </head>

    <body fullbleed fit>

        <div masthead shadow elevation="1">
            <div name><strong><%= web.name %></strong></div>
        </div>

        <div content>
            <div layout-horizontal layout-center-justified>
                <div login shadow elevation="1">

                    <div header>Account Login</div>

                    <div text>Please enter your credentials below.</div>

                    <div form layout-vertical>

                        <div input layout-vertical>
                            <label>Username</label>
                            <input type="text"/>
                        </div>

                        <div input layout-vertical>
                            <label>Password</label>
                            <input type="password"/>
                        </div>

                    </div>

                    <div buttons layout-horizontal>
                        <div button register flex>Register</div>
                        <div button login flex>Login</div>
                    </div>

                </div>
            </div>
        </div>

    </body>

</html>
