<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" type="text/css" href="/global.css">
    <link rel="stylesheet" type="text/css" href="/layout.css">
    <link rel="stylesheet" type="text/css" href="/shadow.css">
    <link rel="stylesheet" type="text/css" href="/form.css">
    <link rel="stylesheet" type="text/css" href="/index.css">
  </head>

  <body fullbleed fit>

    <div masthead shadow elevation="1">
      <div name><strong><%= web.name %></strong></div>
    </div>

    <div content>
      <div layout-horizontal layout-center-justified>
        <div login form shadow elevation="1">

          <div header>Account Login</div>

          <div text>Please enter your credentials below.</div>

          <div inputs layout-vertical>

            <div input layout-vertical>
              <label>Username</label>
              <input type="text" id="username"/>
            </div>

            <div input layout-vertical>
              <label>Password</label>
              <input type="password" id="password"/>
            </div>

          </div>

          <div buttons layout-horizontal>
            <a button register flex href="/register">Register</a>
            <a button login flex>Login</a>
          </div>

        </div>
      </div>
    </div>

    <script>

      (function () {

        // Add keyup listener for enter/return inside of the form
        document.querySelector( '[form]' ).addEventListener( 'keyup', function ( e ) {

          // Check if Enter/Return
          if ( e.keyCode === 13 ) {

            // Validate the registration form
            validate();

          }

        }, false );

        document.querySelector( '[button][login]' ).addEventListener( 'click', function () {

          // Validate the registration form
          validate();

        }, false );

        var validate = function () {

          var username = document.querySelector( '#username' ).value;
          var password = document.querySelector( '#password' ).value;

          if ( username && password ) login( username, password );

        };

        var login = function ( username, password ) {

          var data = new FormData();
          data.append( 'username', username );
          data.append( 'password', password );

          var xhr = new XMLHttpRequest();

          xhr.onload = function () {

            var data = xhr.response;

            if ( data ) {

              if ( data.err ) {
                console.error( data.err );
                alert( data.err );
              } else {

                // Account has been registered; refresh the page to show new content
                window.location.replace( '/' );

              }

            } else {
              console.error( 'Unable to authenticate account. Invalid server response.' );
              alert( 'Unable to authenticate account. Invalid server response.' );
            }

          };

          xhr.open( 'POST', '/api/login', true );
          xhr.responseType = 'json';
          xhr.send( data );

        };

      })();

    </script>

  </body>

</html>
