[feed] {
  width: 600px;
  margin-bottom: 10px;
}

[feed] > [header] {
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  color: #FFFFFF;
  background-color: #4285F4;
  font-size: 18px;
  white-space: nowrap;
  overflow-x: hidden;
  text-transform: uppercase;
}

[feed] [tweet] {
  border-bottom: 1px solid rgb(225, 232, 237);
  padding: 16px;
}

[feed] [tweet]:last-of-type {
  border-bottom: none;
}

[feed] [tweet] [header] {
  margin-bottom: 4px;
}

[feed] [tweet] [header] [author-name],
[feed] [tweet] [header] [author-handle] {
  margin-right: 4px;
}

[feed] [tweet] [header] [time] {
  /*display: none;*/
}

[feed] [tweet] [header] [remove-tweet] {
  cursor: pointer;
}

[feed] [tweet] [text] {
  white-space: pre;
  word-wrap: break-word;
}
