[feed] {
  width: 600px;
  margin-bottom: 10px;
}

[feed] > [header] {
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  color: #FFFFFF;
  background-color: #4285F4;
  font-size: 18px;
  white-space: nowrap;
  overflow-x: hidden;
  text-transform: uppercase;
}

[feed] [tweet] {
  border-bottom: 1px solid rgb(225, 232, 237);
  padding: 16px;
}

[feed] [tweet]:last-of-type {
  border-bottom: none;
}

[feed] [tweet] [header] {
  margin-bottom: 4px;
}

[feed] [tweet] [header] [author-name],
[feed] [tweet] [header] [author-handle] {
  margin-right: 4px;
}

[feed] [tweet] [header] [time] {
  font-style: italic;
}

[feed] [tweet] [text] {
  white-space: pre;
  word-wrap: break-word;
  word-break: break-all;
}

[feed] [tweet] [footer] {
  margin-top: 16px;
}

[feed] [tweet] [footer] [retweet-tweet] {
  cursor: pointer;
  content: url('/img/retweet.png');
}

[feed] [tweet] [footer] [retweet-tweet]:not([disabled]):hover {
  cursor: pointer;
  content: url('/img/retweet_hover.png');
}

[feed] [tweet] [footer] [retweet-tweet][active] {
  cursor: pointer;
  content: url('/img/retweet_on.png');
}

[feed] [tweet] [footer] [retweet-tweet][disabled] {
  cursor: default;
}

[feed] [tweet] [footer] [remove-tweet] {
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
}
